## Using SQL Databases in Python

You can, of course, access databases from your code, not just from Jupyter or the command line.

We will first create a database, and then access it using a Python SQL library.

In [2]:
%load_ext sql
#%config SqlMagic.autocommit=False
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: root@mysql'

In [3]:
%sql show databases;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
4 rows affected.

[('information_schema',), ('mysql',), ('performance_schema',), ('sys',)]

In [4]:
# if you have the germplasm database, please drop it now!
# if not, then move to the next box

#%sql drop database germplasm

In [5]:
%sql create database germplasm;
%sql show databases

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
5 rows affected.

[('information_schema',),
 ('germplasm',),
 ('mysql',),
 ('performance_schema',),
 ('sys',)]

In [6]:
%sql use germplasm;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

In [8]:
#%sql drop table stock
#%sql drop table germplasm
#%sql drop table gene
%sql CREATE TABLE stock(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, amount FLOAT NOT NULL, date DATE NOT NULL, location VARCHAR(20) NOT NULL);
%sql DESCRIBE stock
%sql CREATE TABLE germplasm(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, taxonid INTEGER NOT NULL, alleles VARCHAR(30) NOT NULL, stock_id INTEGER NOT NULL);
%sql DESCRIBE germplasm
%sql CREATE TABLE gene(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, gene VARCHAR(10) NOT NULL, gene_name VARCHAR(30) NOT NULL, germ_id INTEGER NOT NULL, embl VARCHAR(70) NOT NULL);
%sql DESCRIBE gene

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
4 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
4 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
5 rows affected.

[('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'),
 ('gene', 'varchar(10)', 'NO', '', None, ''),
 ('gene_name', 'varchar(30)', 'NO', '', None, ''),
 ('germ_id', 'int(11)', 'NO', '', None, ''),
 ('embl', 'varchar(70)', 'NO', '', None, '')]

In [9]:
%sql INSERT INTO stock(amount, date, location) VALUES (5, '2013-05-10', 'Room 2234');
%sql INSERT INTO stock(amount, date, location) VALUES (9.8, '2015-1-12', 'Room 998');

%sql INSERT INTO germplasm (taxonid, alleles, stock_id) VALUES (4150, 'def-1', 1 );
%sql INSERT INTO germplasm (taxonid, alleles, stock_id) VALUES (3701, 'ap3 ag', 2 );

%sql INSERT INTO gene (gene, gene_name, germ_id, embl) VALUES ('DEF', "Deficiens", 1, 'https://www.ebi.ac.uk/ena/data/view/AB516402');
%sql INSERT INTO gene (gene, gene_name, germ_id, embl) VALUES ('AP3', "Apetala3", 2, 'https://www.ebi.ac.uk/ena/data/view/AF056541');
%sql INSERT INTO gene (gene, gene_name, germ_id, embl) VALUES ('AG', "Agamous", 2, 'https://www.ebi.ac.uk/ena/data/view/AL161549');

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.

[]

Nos conectamos usando sql magic pero luego nos conectamos usando un python library usando la parte cursors de esa libreria

<pre>


</pre>

## Our germplasm database is now set up.

**This data structure is not the same as our previous examples!**

Now we allow a germplasm to be a 'double mutant' (or a 'triple mutant'), so some germplasms connect to multiple genes; the way I modelled this situation is to point from the gene table to the ID of the germplasm table (in our previous table structure, the germplasm table contained the ID of the gene)


**Germplasm table** linked to **Stock table** (one-to-one) (one germplasm point to one stock)


**Gene table** linked to **Germplasm table** (many-to-one) (many genes may be involved in one germplasm)

In [13]:
import pymysql.cursors

# Connect to the database
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='germplasm',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)

#connection.autocommit = False  # note that it is possible to delay putting changes into the database! THIS IS WRONG 
#habría que escribir connection.autocommit(False)

try:
    with connection.cursor() as cursor:
        # Read a single record
        sql = "SELECT * FROM stock"
        cursor.execute(sql)
        results = cursor.fetchall() #it will always return a list, and the individual result objects is a dictionary
        print(results)
        print("")
        for result in results:
            print(result['amount']," is located in ",result['location'])
            

finally:
    print("")
    #connection.close()

[{'id': 1, 'amount': 5.0, 'date': datetime.date(2013, 5, 10), 'location': 'Room 2234'}, {'id': 2, 'amount': 9.8, 'date': datetime.date(2015, 1, 12), 'location': 'Room 998'}]

5.0  is located in  Room 2234
9.8  is located in  Room 998

**Try** allows you to execute a block of code that if there is an error it wont stop your program, it will find an alternative and we give it finally as an alternative. Before the software exists it will for sure do what you made it do. If you close the connection you will have to run the first lines until "try" again. We quoted it out here, but normally in normal software you would definitely want that.

In [14]:

try:
    with connection.cursor() as cursor:
        # Read a single record
        sql = "SELECT * FROM gene"
        cursor.execute(sql)
        results = cursor.fetchall()
        print(results)
        print("")
        for result in results:
            print(result['gene_name'])
finally:
    print("")
    #connection.close()

[{'id': 1, 'gene': 'DEF', 'gene_name': 'Deficiens', 'germ_id': 1, 'embl': 'https://www.ebi.ac.uk/ena/data/view/AB516402'}, {'id': 2, 'gene': 'AP3', 'gene_name': 'Apetala3', 'germ_id': 2, 'embl': 'https://www.ebi.ac.uk/ena/data/view/AF056541'}, {'id': 3, 'gene': 'AG', 'gene_name': 'Agamous', 'germ_id': 2, 'embl': 'https://www.ebi.ac.uk/ena/data/view/AL161549'}]

Deficiens
Apetala3
Agamous

## Open a new jupyter notebook to Lesson 3  - mySQL section

Try some of the SELECT queries we learned in that lesson.

In [19]:
## try queries here

try:
    with connection.cursor() as cursor:
        # Read a single record
        sql = """SELECT alleles FROM germplasm, stock, gene WHERE 
     germplasm.stock_id = stock.id AND 
     gene.germ_id = germplasm.id;"""
        cursor.execute(sql)
        results = cursor.fetchall()  # traertodos()
        #print(results)
        #print("")
        for result in results:
            print(result)
            print()
finally:
    print("")
    connection.close

{'alleles': 'def-1'}

{'alleles': 'ap3 ag'}

{'alleles': 'ap3 ag'}

Depende de lo que pongas después de select coge una cosa u otra. Recuerda que si pones solo id no sabrá cual de los 3 id's es y entonces

<pre>


</pre>
## You can issue ANY mysql command in this way

Including _create database_, _create table_,  and  _insert_ data commands.

For example:

In [23]:
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='germplasm',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)

#connection.autocommit = False

try:
    with connection.cursor() as cursor:
        # Read a single record
        sql = "create database testing123"
        cursor.execute(sql)

finally:
    print("")
    connection.close()
    

%sql show databases

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
6 rows affected.

[('information_schema',),
 ('germplasm',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('testing123',)]

In [24]:
#%sql drop database testing123
%sql show databases

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
6 rows affected.

[('information_schema',),
 ('germplasm',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('testing123',)]

In [25]:

connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='germplasm',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)

#connection.autocommit(False)

try:
    with connection.cursor() as cursor:
        # Read a single record
        sql = "show databases"
        cursor.execute(sql)
        results = cursor.fetchall()
        print(results)
        for result in results:
            print(result['Database'])
        print("")

finally:
    print("")
    connection.close()

[{'Database': 'information_schema'}, {'Database': 'germplasm'}, {'Database': 'mysql'}, {'Database': 'performance_schema'}, {'Database': 'sys'}, {'Database': 'testing123'}]
information_schema
germplasm
mysql
performance_schema
sys
testing123

In [26]:
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
# PAY ATTENTION HERE!!!!!!!!!!!!!!!
                             db='testing123',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)
#connection.autocommit = False


try:
    with connection.cursor() as cursor:
        # Read a single record
        sql = "create table test1(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, data1 VARCHAR(20) NOT NULL )"
        cursor.execute(sql)
        sql = "create table test2(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, otherdata VARCHAR(20) NOT NULL )"
        cursor.execute(sql)
finally:
    print("")
    connection.close()


%sql use testing123
#%sql show tables
#%sql desc test1
%sql desc test2

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
2 rows affected.

[('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'),
 ('otherdata', 'varchar(20)', 'NO', '', None, '')]

In [27]:
%sql show databases

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
6 rows affected.

[('information_schema',),
 ('germplasm',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('testing123',)]

# Insert a new record into the Germplasm database

First, look at the schemas:

In [28]:
%sql use germplasm
%sql desc gene

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
5 rows affected.

[('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'),
 ('gene', 'varchar(10)', 'NO', '', None, ''),
 ('gene_name', 'varchar(30)', 'NO', '', None, ''),
 ('germ_id', 'int(11)', 'NO', '', None, ''),
 ('embl', 'varchar(70)', 'NO', '', None, '')]

In [29]:
%sql desc stock

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
4 rows affected.

[('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'),
 ('amount', 'float', 'NO', '', None, ''),
 ('date', 'date', 'NO', '', None, ''),
 ('location', 'varchar(20)', 'NO', '', None, '')]

In [30]:
%sql desc germplasm

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
4 rows affected.

[('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'),
 ('taxonid', 'int(11)', 'NO', '', None, ''),
 ('alleles', 'varchar(30)', 'NO', '', None, ''),
 ('stock_id', 'int(11)', 'NO', '', None, '')]

## test data to show how to retrieve the latest unique ID number:

**Stock**:  amount=5, date=2019-12-12, location=nowhere

(Remember the SQL "last_insert_id()" function!!)

**CUIDADO RECONECTATE A LA BASE DE DATOS CORRECTA!!!**

In [32]:
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
# PAY ATTENTION HERE!!!!!!!!!!!!!!!
                             db='germplasm',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters! esto es lo que dijo q era importante
                             cursorclass=pymysql.cursors.DictCursor)
#connection.autocommit = False

try:
    with connection.cursor() as cursor:
        # Read a single record
        sql = """INSERT INTO stock (amount, date, location)
        VALUES (5, '2019-12-12', 'nowhere')"""
        cursor.execute(sql)
        sql = "SELECT last_insert_id()"
        cursor.execute(sql)
        results = cursor.fetchall()
        print(results)
        # note that results is a LIST, 
        # so we need to take element 0 then
        # gene_id = results[0]['last_insert_id()']
        print("The unique ID for the last gene entered was {}".format(results[0]['last_insert_id()']))
        stockid = results[0]['last_insert_id()']
        print("STOCK ", stockid)

finally:
    print("")
    connection.close()

#tienes que poner results [0] porque recuerda que results siempre es una lista!!!! por lo tanto quieres que te imprima
#el primero y por ello el 0

[{'last_insert_id()': 4}]
The unique ID for the last gene entered was 4
STOCK  4

A mi me ha dado stock 4 porque he corrido el proceso dos veces!!!

## new data:

**Gene**:  gene=WUS, gene_name=WUSCHEL, embl=http://ABC123, **germ_id=??**

**Gene**:  gene=CLV, gene_name=CLAVATA, embl=http://ABC123, **germ_id=??**

**Stock**: amount=10, date=12/09/2018, location=Room990

**Germplasm**:  taxonid=3701, alleles= wus-1 clv-1, stock_id=??**


**RECUERDA QUE** el stockid es un integer y entonces tienes que hacer str de modo que lo vuelvas un string

In [36]:
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='germplasm',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)
connection.autocommit = False

try:
    with connection.cursor() as cursor:
        
        sql = """INSERT INTO stock (amount, date, location) 
        VALUES (10, '2018-12-09', 'Room990')"""
        cursor.execute(sql)
        sql = "SELECT last_insert_id()"
        cursor.execute(sql)
        results = cursor.fetchall()   # traertodos
        stockid = results[0]['last_insert_id()']
        print(stockid)

        sql = "INSERT INTO germplasm (taxonid, alleles, stock_id) VALUES (3701, 'wus-1 clv-1', " + str(stockid) + ")"
        cursor.execute(sql)
        sql = "SELECT last_insert_id()"
        cursor.execute(sql)
        results = cursor.fetchall()  # traertodos
        germid = results[0]['last_insert_id()']
        print(germid)

        sql = """INSERT INTO gene (gene, gene_name, embl, germ_id) 
        VALUES ("WUS", 'WUSCHEL', 'http://blahblah1', """ + str(germid) + """)"""
        cursor.execute(sql)
        
        sql = """INSERT INTO gene (gene, gene_name, embl, germ_id) 
        VALUES ("CLV", 'CLAVATA', 'http://blahblah2', """ + str(germid) + """)"""
        cursor.execute(sql)
                            #hacemos lo mismo dos veces porque este gen tiene dos alelos de moodo que queremos que 
                            #ambos apunten hacia el mismo germid. Solo tienes que meter el germid
        connection.commit()   # NOTE THAT I AM FORCING THE WRITE TO THE DATABASE HERE
        
finally:
    print("")
    connection.close()  # if I close before I commit, the inserts are lost

    
%sql select * from gene;

7
5

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
7 rows affected.

[(1, 'DEF', 'Deficiens', 1, 'https://www.ebi.ac.uk/ena/data/view/AB516402'),
 (2, 'AP3', 'Apetala3', 2, 'https://www.ebi.ac.uk/ena/data/view/AF056541'),
 (3, 'AG', 'Agamous', 2, 'https://www.ebi.ac.uk/ena/data/view/AL161549'),
 (4, 'WUS', 'WUSCHEL', 3, 'http://blahblah1'),
 (5, 'CLV', 'CLAVATA', 3, 'http://blahblah2'),
 (6, 'WUS', 'WUSCHEL', 5, 'http://blahblah1'),
 (7, 'CLV', 'CLAVATA', 5, 'http://blahblah2')]

In [34]:
%sql use germplasm
%sql select * from germplasm;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
3 rows affected.

[(1, 4150, 'def-1', 1), (2, 3701, 'ap3 ag', 2), (3, 3701, 'wus-1 clv-1', 5)]

# practice :-)

(any fortnite players?  Liking Season 4?)