# Practice Suggestions

## Suggestion 1  (challenging)

Create and query a database representing a research programme.  In a research programme, individual researchers are involved in one or more projects (many to many), and each project may use one or more individual organisms (one to many)  The tables will be:

Researcher --  Project -- Organisms

* The Researcher table has information like name, role (PI, Co-PI, technician)
* The Project table has information like project ID, funding agency
* The Organisms table has information like ear-tag number, species

Create three CSV files with a few lines of data, where: a researcher is involved in more than one project, and a different projects include the same researcher; AND a project includes multiple organisms from the organisms table, but each organism is only used within one project.

Build the database, and the code to fill it and query it.


## Suggestion 2 (easier)


Create and query a database representing a simple laboratory information management system.  In a LIMS, Projects involve multiple Organisms (one to many), and each Organism may provide several Samples (one to many).

The tables will be:

Project -- Organisms -- Samples

* The Project table has information like project ID, funding agency
* The organisms table has information like ear-tag number, species
* The Samples table has information like tissue (blood, kidney, lung, etc.), collection date, freezer-location

Create three CSV files with a few lines of data.

Build the database, and the code to fill it and query it.

# Suggestion 2

In [4]:
%load_ext sql
#%config SqlMagic.autocommit=False
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql

'Connected: root@mysql'

In [8]:
import pymysql.cursors
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='germplasm',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)

#connection.autocommit = False
#cuando generas una nueva database no importa a que base de datos est√©s conectada 

#try:
    #with connection.cursor() as cursor:
        # Read a single record
        #sql = "create database LabInfo"
        #cursor.execute(sql)
#finally:
    #print("")
connection.close()

In [32]:
%sql show databases
%sql use LabInfo
%sql show tables
%sql desc Samples

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
7 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
3 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
4 rows affected.

[('id', 'int(11)', 'NO', '', None, ''),
 ('tissue', 'varchar(20)', 'NO', '', None, ''),
 ('date', 'date', 'NO', '', None, ''),
 ('location', 'varchar(20)', 'YES', '', None, '')]

In [41]:
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
# PAY ATTENTION HERE!!!!!!!!!!!!!!!
                             db='LabInfo',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)
#connection.autocommit = False


try:
    with connection.cursor() as cursor:
        # Read a single record
        sql = "create table Project(project_id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, agency VARCHAR(20) NOT NULL )"
        cursor.execute(sql)
        sql = "create table Organisms(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, ear_tag VARCHAR(20) NOT NULL, species VARCHAR(20) NOT NULL )"
        cursor.execute(sql)
        sql = "create table Samples(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, tissue VARCHAR(20) NOT NULL, date DATE NOT NULL, location VARCHAR (20) )"
        cursor.execute(sql)
finally:
    print("")
    connection.close()

In [40]:
%sql use LabInfo
%sql show tables

%sql drop table Organisms
%sql drop table Samples
%sql drop table Project

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
3 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

In [49]:
organisms = {}
organisms['Human'] = {"ear_tag":"9060", "species":"Homo sapiens"}
organisms['Rat'] = {"ear_tag":"8956", "species": "Rattus rattus"}
print(organisms)

project = {}
project['PlanNacional'] = {"project_id":"558", "agency":"CBGP"}

{'Human': {'ear_tag': '9060', 'species': 'Homo sapiens'}, 'Rat': {'ear_tag': '8956', 'species': 'Rattus rattus'}}

In [ ]:
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='LabInfo',
                             charset='utf8mb4',  
                             cursorclass=pymysql.cursors.DictCursor)
#connection.autocommit = False

try:
    with connection.cursor() as cursor:
        
        sql = """INSERT INTO Project (tissue, date, location) 
        VALUES (10, '2018-12-09', 'Room990')"""
        cursor.execute(sql)
        sql = "SELECT last_insert_id()"
        cursor.execute(sql)
        results = cursor.fetchall()   # traertodos
        stockid = results[0]['last_insert_id()']
        print(stockid)

        sql = "INSERT INTO germplasm (taxonid, alleles, stock_id) VALUES (3701, 'wus-1 clv-1', " + str(stockid) + ")"
        cursor.execute(sql)
        sql = "SELECT last_insert_id()"
        cursor.execute(sql)
        results = cursor.fetchall()  # traertodos
        germid = results[0]['last_insert_id()']
        print(germid)

        sql = """INSERT INTO gene (gene, gene_name, embl, germ_id) 
        VALUES ("WUS", 'WUSCHEL', 'http://blahblah1', """ + str(germid) + """)"""
        cursor.execute(sql)
        
        sql = """INSERT INTO gene (gene, gene_name, embl, germ_id) 
        VALUES ("CLV", 'CLAVATA', 'http://blahblah2', """ + str(germid) + """)"""
        cursor.execute(sql)
                            #hacemos lo mismo dos veces porque este gen tiene dos alelos de moodo que queremos que 
                            #ambos apunten hacia el mismo germid. Solo tienes que meter el germid
        connection.commit()   # NOTE THAT I AM FORCING THE WRITE TO THE DATABASE HERE
        
finally:
    print("")
    connection.close()  # if I close before I commit, the inserts are lost